.header {
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  justify-content: space-between;
}
.header-text {
  width: 73px;
  height: 21px;
  margin: 14px 18px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.27px;
}
.header-photo {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  background-color: aqua;
  margin-right: 16px;
  margin-top: 8px;
}
