.Sidenav {
  background-color: #151a3b !important;
}
.image {
  background-image: url("../../images/image.png");
  position: absolute;
  background-color: white;
  width: 32px;
  height: 32px;
  margin: 10px 16px;
}
.item-image {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-top: 11px;
}
.icon {
  margin-top: 40px !important;
}
.item-image-add {
  background-position: center;
}
.Sidenav > .SideNav_nav > .NavItem {
  height: 40px;
  margin: 24px;
  border-radius: 20px;
  background-color: #8de5ae;
}
