.students-container {
  width: 416px;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}
.student {
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 1px solid #f0f0f6;
  border-right: 1px solid #f0f0f6;
}
.student-image {
  width: 40px;
  height: 40px;
  margin: 20px 8px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px !important;
}
.student-name {
  font-size: 14px;
  font-weight: 500;
}
.student-infos {
  width: fit-content;
  height: fit-content;
  align-self: center;
}
.student-class {
  color: rgba(21, 26, 59, 0.5);
}
.filter {
  border: 1px solid #f0f0f6;
  height: 56px;
  display: flex;
}
/*DropDown*/
.dropdown {
  display: inline-block;
  width: 172px;
  height: 32px;
  border: 1px solid #f0f0f6;
  margin: 12px 8px 12px 12px;
}
.dropdown-text {
  display: inline-block;
  width: 132px;
}
.dropdown-icon {
  background-image: url("../../../src/images/dropdown-arrow.png");
  width: 20px;
  height: 20px;
  display: inline-block;
}
/*End DropDown*/
/*Search*/
.search-box {
  display: inline-block;
  width: 172px;
  height: 32px;
  border: 1px solid #f0f0f6;
  margin: 12px 8px 12px 0px;
}
.search-box-text {
  display: inline-block;
  width: 132px;
}
.search-box-icon {
  background-image: url("../../../src/images/search.png");
  width: 20px;
  height: 20px;
  display: inline-block;
}
/*End Search*/
.plus {
  display: inline-block;
  background-image: url("../../../src/images/add-new-small.png");
  width: 32px;
  height: 32px;
  background-position: center;
  border: 1px solid #f0f0f6;
  margin: 12px 8px 12px 0px;
}
